body {
    overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
    border-radius: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
    border: 1px solid #6c757d!important;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover, .list-group-item.active {
  background: #7386D5;
    border: none;
}

@media screen and (max-width: 992px) {
    body {
        max-width: 992px !important;
    }
}

@media screen and (max-width: 600px) {
    body {
        max-width: 600px !important;
    }
}

@media screen and (min-width: 992px) {
    body {
        min-width: 992px !important;
    }
}

@media screen and (min-width: 600px) {
    body {
        min-width: 600px !important;
    }
}

input, textarea {
    color: white !important;
}

.uniColor, .btn-color, .border-btn {
    background-color: #7386D5 !important;
}
.form-control, .form-control:hover, .card-body {
    background-color: #424242 !important;
}

.btn-color:hover {
    background-color: #7386D5 !important;
}
.navbar {
    background-color: #7386D5 !important;
    margin-bottom: 10px !important;
}
#navbarDropdownMenuLink {
    color: white !important;
}
#sidebarCollapse {
    background-color: #424242 !important;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #424242;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,a:hover,a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.dropdown-item {
    color: white !important;
}

#sidebar ul li a:hover, #sidebar ul li.active > a {
    background-color: #424242 !important;
    color: white !important;
}

div.dropdown-menu a:hover {
    color: white !important;
    background-color: #424242 !important;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
i,span {
    display: inline-block;
}
/* ---------------------------------------------------SIDEBAR STYLE----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar.active .sidebar-header h3,#sidebar.active .CTAs {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}
#sidebar ul li a {
    text-align: left;
}
#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}
#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}
#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid white!important;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}
#sidebar ul li.active > a,a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
ul.CTAs {
    padding: 20px;
}
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article,a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* ---------------------------------------------------CONTENT STYLE----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
/* ---------------------------------------------------MEDIAQUERIES----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,#sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.dropdown-menu {
    background-color: #7386D5;
    color: white;
}
.dropdown-menu a {
    color: white !important;
}
.dropdown-menu a:hover {
    color: black !important;
}
.wew {
    border: 1px solid white !important;
}
.pointer {
    cursor: pointer !important;
    color: white !important;
}
.menus {
    margin-top: 10px;
}
#list_table {
    margin-top: 12px !important;
}

#preview_screen {
    display: none;
}

.hw-output {
    min-height: 125px;
    text-align: center;
}

.row > .col-xs-3 {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%
}
.flex-nowrap {
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}
.flex-row {
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}
.overflow-y {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
.overflow-x {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
footer {
    margin-top: 24px !important;
}
.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bot-25px {
    margin-bottom: 25px !important;
}

.contents-list {
    margin: 0;
    padding: 0;
    display: table;
    min-height: 440px !important;
}

.vert-center-text {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-family: "Arial", Times, serif;
    transform: translateY(-50%);
    margin: 0 auto;
}

.vert-center-text h1 {
    color: white;
}

#preview_lists {
    padding: 20px;
}

.vert-center-container {
    position:relative;
}

video {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.video-default-view {
    min-height: 350px !important;
    margin: 0;
    width: 100%;
    height: 100%;
    display: table;
    padding: 15px !important;
}

.play-view-list {
    margin: 0;
    width: 100%;
    height: 100%;
    display: table;
    min-height: 50px !important;
    padding: 15px !important;
}

.inside {
    display: table-cell;
    vertical-align: middle;
}

.table td, .table th {
    border-top: 1px solid #6c757d!important;
}

.toggle-on {
    background-color: #7386D5!important;
    border: none !important;
}

.toggle-off {
    background-color: #6c757d!important;
    border: none !important;
    color: white !important;
}

.toggle {
    border: none !important;
}

.f-25 {
    font-size: 25px !important;
}

.card {
    min-width: 300px !important;
    min-height: 150px !important;
    margin-bottom: 15px !important;
    text-align: center;
}

.data_lists {
    height: 200px !important;
}

@media screen and (max-width: 600px) {
    div.contents-list {
        font-size: 30px;
    }
}

.modal-content {
    background-color: #424242 !important;
}

#btn-add.dropdown-toggle::after {
    right: 0 !important;
}

.mg-left-12 {
    margin-left: 12px !important;
}

.mg-left-8 {
    margin-left: 8px !important;
}

.mg-left-16 {
    margin-left: 16px !important;
}

.mg-bottom-15 {
    margin-bottom: 15px !important;
}

.mg-top-3 {
    margin-top: 3px !important;
}

.chk-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #6c757d!important;
    border-radius: 3px !important;
}

.chk-container:hover input ~ .checkmark {
    background-color: #ccc;
    transition: all 0.3s;
}

.chk-container input:checked ~ .checkmark {
    background-color: #7386D5!important;
    transition: all 0.3s;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chk-container input:checked ~ .checkmark:after {
    display: block;
}

.chk-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s;
}

.hidden_div {
    display: none;
}

.container-mg-lists {
    padding-left: 5px !important;
    padding-right: 5px !important;
}


.h-763-serlist {
    height: 763px;
}

.panel-lists {
    width: 30% !important;
}

.list-group-item {
   -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

/*.panel-lists.footer-bottom {*/
/*    position: absolute;*/
/*      bottom: 0;*/
/*      left: 0;*/
/*}*/

